.homepage {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.heroText {
    font-size: 54px;
    width: 35ch;
    letter-spacing: 2px;
    text-align: center;
}

.buttonLink {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    width: 100px;
    padding: 15px;
    background-color: black;
}

